QObject[Transparent = true]
{
    border: none;
    background: transparent;
}

QObject[Background0 = true]
{
    background-color: rgb(250, 250, 251);
}

QMainWindow
{
    background-color: rgb(250, 250, 251);
}

Element
{
    background-color: rgb(240, 240, 241);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
}

Element QWidget
{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
}

QListWidget, QListView
{
    background-color: rgb(250, 250, 251);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
}

QLabel
{
    background-color: rgb(250, 250, 251);
    font-size: 16px;
}

QTabWidget#mainTabWidget, QTabWidget#mainTabWidget>QWidget
{
    background-color: rgb(250, 250, 251);
    font-size: 16px;
}

QTabWidget#mainTabWidget QTabBar::tab:!selected
{
    background-color: rgb(233, 233, 233);
}

QTabWidget#mainTabWidget QTabBar::tab
{
    background-color: rgb(246, 246, 246);
    border-left: 1px solid rgb(203, 203, 203);
    border-top: 1px solid rgb(203, 203, 203);
    border-right: 1px solid rgb(203, 203, 203);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 4px;
    margin-bottom: 1px;
}

QTabWidget#mainTabWidget QTabBar::tab:selected
{
    background-color: rgb(253, 253, 254);
}

QGroupBox
{
    font-size: 16px;
    margin-top: 14px;
}

QGroupBox::title
{
    subcontrol-origin: margin;
    left: 8px;
}

QComboBox
{
    padding-left: 12px;
	font-size: 16px;
}

QComboBox QAbstractItemView
{
    border: none;
}
